<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 practice</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        .text-red{
            color: red;
        }
        .text-green{
            color: green;
        }
    </style>
</head>
<body>
    <div id="app">
        <section v-show="inProgressAssignments.length">
            <h1>In progress assignments</h1>
            
            <ul>
                <li 
                    v-for="assignment in inProgressAssignments" 
                    :key="assignment.id" 
                >
                    <label>
                        {{assignment.name}}
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
            

        </section>

        <section v-show="completedAssignments.length">
            <h1>Completed assignments</h1>

            <ul>
                <li 
                    v-for="assignment in completedAssignments" 
                    :key="assignment.id" 
                >
                    <label>
                        {{assignment.name}}
                        <input type="checkbox" v-model="assignment.complete">
                    </label>
                </li>
            </ul>
        </section>

        <div>
            {{assignments}}
        </div>
    </div>

    <script>
        let app = {
            data(){
                return {
                    assignments: [
                        {id:1, name: 'teste 1', complete: false},
                        {id:2, name: 'teste 2', complete: false},
                        {id:3, name: 'teste 3', complete: false},
                    ]
                }
            },
            computed: {
                completedAssignments(){ return this.assignments.filter(a => a.complete)},
                inProgressAssignments(){ return this.assignments.filter(a => !a.complete)},
            }
        }

        Vue.createApp(app).mount("#app")
    </script>
</body>
</html>