<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 practice</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        .text-red{
            color: red;
        }
        .text-green{
            color: green;
        }
    </style>
</head>
<body>
    <div id="app">
        <h1>assignments</h1>
        <ul v-for="assignment in assignments">
            <label>
                <li>{{assignment.name}}</li>
                <input type="checkbox" v-model="assignment.complete">
            </label>
        </ul>

        <div>
            {{assignments}}
        </div>
    </div>

    <script>
        let app = {
            data(){
                return {
                    assignments: [
                        {name: 'teste 1', complete: false},
                        {name: 'teste 2', complete: false},
                        {name: 'teste 3', complete: false},
                    ]
                }
            }
        }

        Vue.createApp(app).mount("#app")
    </script>
</body>
</html>